<template>
  <div class="animated fadeIn">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
              <h6 class="card-title card-padding pb-0">Clientes</h6>
              <a href="#" @click="modalCrearCliente=true" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style="margin-left:28px; width:90px">
                Agregar
              </a>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre Comercial</th>
                      <th>Razón Social</th>
                      <th>NIT</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="cliente in clientes">
                      <td> {{ cliente.nombre_comercial }} </td>
                      <td> {{ cliente.razon_social }} </td>
                      <td> {{ cliente.nit }} </td>
                      <td>
                        <button @click="prepararEdicionCliente(cliente)" class="mdc-button">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button @click="eliminarCliente(cliente.id_cliente)" class="mdc-button">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>                      
                    </tr>                        
                  </tbody>
                </table>
              </div>
            </div>
          </div>              
        </div>
      </div>
    <!-- Creación -->
    <div class="modal" id="modal-crear-cliente" :class="{openmodal: modalCrearCliente}">
      <div class="modal-contenido">
        <a class="close-button" @click="modalCrearCliente = false" href="#">X</a>
        <h2 id="titulo-crear-cliente">Crear Cliente</h2>

        <!-- Errores -->
        <ul class="errores-formulario" id="errors-creacion-cliente">
          <li v-for="error in errors">
            {{ error }}
          </li>
        </ul>

        <form action="">
          <div class="mdc-layout-grid__inner">   
            <!-- Nombre Comercial -->         
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.nombre_comercial" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Nombre comercial</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Razón Social -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.razon_social" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Razón Social</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- NIT -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.nit" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">NIT</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Dirección -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.direccion" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Dirección</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Población -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.poblacion" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Población</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Código Postal -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.cod_postal" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Código Postal</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Provincia -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.provincia" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Provincia</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- E-mail -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.email" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">E-mail</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div> 
            <!-- Teléfono -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="almacenamientoCliente.telefono" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Teléfono</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>  
            <!-- País -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <select v-model="almacenamientoCliente.id_pais" class="mdc-text-field__input" name="" id="">
                <option value="">Seleccione un País</option>
                <option v-for="pais in paises" :value="pais.id_pais"> {{ pais.descripcion }} </option>
              </select>                      
            </div>     
            <!-- Mapa -->
            <p>Por favor mueva el marcador a su lugar de residencia</p>
            <div class="col-md-12 col-sm-12" id="map-canvas" style="height:200px; width: 600px;"></div>             
          </div>  
          
          <div align="center">
            <button @click="almacenarCliente()" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" type="button">
              Guardar
            </button>
          </div>                  
        </form>
      </div>  
    </div>

    <!-- Edición -->
    <div class="modal" id="modal-edicion-cliente" :class="{openmodal: modalEdicionCliente}">
      <div class="modal-contenido">
        <a class="close-button" @click="modalEdicionCliente = false" href="#">X</a>
        <h2 id="titulo-edicion-cliente">Editar Cliente</h2>

        <!-- Errores -->
        <ul class="errores-formulario" id="errors-creacion-cliente">
          <li v-for="error in errors">
            {{ error }}
          </li>
        </ul>

        <form action="">
          <div class="mdc-layout-grid__inner">   
            <!-- Nombre Comercial -->         
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.nombre_comercial" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Nombre comercial</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Razón Social -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.razon_social" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Razón Social</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- NIT -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.nit" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">NIT</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Dirección -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.direccion" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Dirección</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Población -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.poblacion" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Población</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Código Postal -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.cod_postal" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Código Postal</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- Provincia -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.provincia" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Provincia</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <!-- E-mail -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.email" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">E-mail</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div> 
            <!-- Teléfono -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-text-field--outlined">
                <input v-model="edicionCliente.telefono" class="mdc-text-field__input" id="text-field-hero-input">
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch" style="">
                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Teléfono</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>  
            <!-- País -->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <select v-model="edicionCliente.id_pais" class="mdc-text-field__input" name="" id="">
                <option value="">Seleccione un País</option>
                <option v-for="pais in paises" :value="pais.id_pais"> {{ pais.descripcion }} </option>
              </select>                      
            </div>                         
          </div>  
          
          <div align="center">
            <button @click="editarCliente(edicionCliente.id_cliente)" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" type="button">
              Guardar
            </button>
          </div>                  
        </form>
      </div>  
    </div>
  </div>  
</template>

<script>

    export default{
      data(){
        return {
          clientes: [],
          almacenamientoCliente: {},
          edicionCliente: {},
          errors: [],
          modalCrearCliente: false,
          modalEdicionCliente: false,
          paises: []          
        }
      },
      methods: {
        getClientes(){

          axios.get('/api/clientes')
          .then(response => {

            if(response.data.code == 200 && response.data.status == 'success'){

              this.clientes = response.data.clientes;
            }
          })
        },
        getPaises(){

          axios.get('/api/paises')
          .then(response => {
            
            if(response.data.code == 200 && response.data.status == 'success'){

              this.paises = response.data.paises;
            }            
          })
        },
        initializeMap() {
          let map = {};
          let vm = this;
          map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 16,
            center: {lat: 3.443034, lng: -76.532712}
          });
          
          var marker=new google.maps.Marker({
              position:map.getCenter(), 
              map:map, 
              draggable:true
          });
              
          google.maps.event.addListener(marker,'dragend',function(event) {
              let location = this.getPosition().toString();
              length = location.length;
              location = location.substr(1, length-2);
              location = location.split(',');

              vm.almacenamientoCliente.latitud = location[0];
              vm.almacenamientoCliente.longitud = location[1];
          });

        },
        almacenarCliente(){

          axios.post('/api/clientes', this.almacenamientoCliente)
          .then(response => {

            this.errors = [];

            if(response.data.code == 201 && response.data.status == 'success'){

              this.getClientes();

              this.almacenamientoCliente = {};
              this.modalCrearCliente = false;

              Swal.fire({
                title: 'Exito',
                text: 'El cliente fue creado satisfactoriamente',
                type: 'success'
              });

            }
          })
          .catch(error => {

            if(error.response.data.code == 400 && error.response.data.status == 'error'){

              let errors = error.response.data.errors;
              let errorsData = [];

              Object.keys(errors).forEach(element => {

                errors[element].forEach(element => {

                  errorsData.push(element);
                });
              });

              this.errors = errorsData;
              location.href="#titulo-crear-cliente";
            }
          });
          
        },
        eliminarCliente(id){

          Swal.fire({
            text: 'Estas seguro?',
            type: 'warning',
            showCancelButton: true
          })
          .then(result => {

            if(result.value){

              axios.delete('/api/clientes/' + id)
              .then(response => {

                if(response.data.code == 200 && response.data.status == 'success'){
                  
                  this.getClientes();

                  Swal.fire({
                    title: 'Exito',
                    text: 'El cliente fue eliminado correctamente'
                  });
                }
              })
            }
          })
        },
        prepararEdicionCliente(cliente){

          this.edicionCliente = cliente;
          this.modalEdicionCliente = true;
        },
        editarCliente(id){

          axios.put('/api/clientes/' + id, this.edicionCliente)
          .then(response => {

            this.errors = [];

            if(response.data.code == 200 && response.data.status == 'success'){

              this.edicionCliente = {};
              this.getClientes();
              this.modalEdicionCliente = false;

              Swal.fire({
                title: 'Exito',
                text: 'Cliente modificado exitosamente',
                type: 'success'
              });
            }
          })
          .catch(error => {

            if(error.response.data.code == 400 && error.response.data.status == 'error'){

              let errors = error.response.data.errors;
              let errorsData = [];

              Object.keys(errors).forEach(element => {

                errors[element].forEach(element => {

                  errorsData.push(element);
                });
              });

              this.errors = errorsData;
              location.href="#titulo-edicion-cliente";
            }
          });
        } 
      },
      mounted(){

        this.getClientes();
        this.getPaises();
        google.maps.event.addDomListener(window, 'load', this.initializeMap());
      } 
    }

</script>