<template>
    <div class="animated fadeIn">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">              
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                <div class="mdc-card info-card info-card--success">
                  <div class="card-inner">
                    <h5 class="card-title">Clientes</h5>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"> {{ cantidadClientes }} </h5>
                    <p class="tx-12 text-muted"></p>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">dvr</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                <div class="mdc-card info-card info-card--success">
                  <div class="card-inner">
                    <h5 class="card-title">Paises</h5>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"> {{ cantidadPaises }} </h5>
                    <p class="tx-12 text-muted"></p>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">dvr</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                <div class="mdc-card">
                  <h6 class="card-title">Clientes Por País</h6>
                  <canvas id="clientespaises"></canvas>
                </div>
              </div>              
            </div>
          </div>
    </div>
</template>

<script>

    export default{
      mounted(){

        this.clientesXPais();
        this.obtenerCantidadClientes();
        this.obtenerCantidadPaises();
      },
      data(){

        return {
          cantidadClientes: 0,
          cantidadPaises: 0
        }
      },
      methods: {        
        obtenerCantidadClientes(){

          axios.get('/api/cantidad-clientes')
          .then(response => {

            if(response.data.code == 200 && response.data.status == 'success'){

              this.cantidadClientes = response.data.cantidad;
            }
          });
        },
        obtenerCantidadPaises(){

          axios.get('/api/cantidad-paises')
          .then(response => {

            if(response.data.code == 200 && response.data.status == 'success'){

              this.cantidadPaises = response.data.cantidad;
            }
          });
        },
        clientesXPais(){

          axios.get('/api/clientes-pais')
          .then(response => {

            if(response.data.code == 200 && response.data.status == 'success'){
              
              let data = response.data.clientes_pais;

              var ctx = document.getElementById('clientespaises').getContext('2d');

              var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: data.paises,
                    datasets: [{
                        label: 'Paises',
                        data: data.cantidades,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                }         
              });
            }
          });          
        }
      }
    }

</script>